body {
    font-family: '游明朝','Yu Mincho',YuMincho,"Noto Serif JP";
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    font-family: "EB Garamond";
    font-weight: 400;
    background: #333;
    color: #fff;
    padding: 1ex 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin: 0 auto;
}

section {
    margin-top: 20px;
    margin-bottom: 40px;
}

h1 {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 60px;
}

h2 {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
}

#title h1 {
    font-family: "EB Garamond";
    text-align: center;
    font-size: 25px;
}

#home h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.2em;
}

#overview h2 {
    font-size: 20px;
}

#detail h2 {
    font-size: 20px;
}

#concept h2 {
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skill {
    text-align: center;
    margin-bottom: 40px;
}

.skill img {
    height: 50px;
    width: 50px;
}

.work {
    max-width: 50%;
    text-align: center;
    padding: 10px 20px 0 0;
}

.work h3 {
    font-size: 12px;
}

.work p {
    font-size: 9px;
}

.work img {
    height: 140px;
    width: 140px;
}

.work a {
    color: black;
    text-decoration: none;
}

.more {
    padding-top: 10px;
    max-height: 22px;
    text-align: right;
}

.more span {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 14px;
    vertical-align: top;
}

.more img {
    height: 22px;
    width: 22px;
}

.more a {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

/* 作品ページのスタイルシート */

#banner {
    text-align: center;
}

#banner img {
    width: 80%;
    height: auto;
}

iframe.youtube {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

#concept p {
    font-size: 16px;
    text-align: center;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80%;
    height: auto;
}

.storyboard {
    text-align: center;
    width: 80%;
    height: auto;
    aspect-ratio: 5 / 7;
}

.conceptpanel {
    text-align: center;
}

.conceptpanel img {
    width: 80%;
    height: auto;
}