body {
    font-family: '游明朝','Yu Mincho',YuMincho,"Noto Serif JP";
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    font-family: "EB Garamond";
    font-weight: 400;
    background: #333;
    color: #fff;
    padding: 1ex 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    font-size: 16px;
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin: 0 auto;
}

section {
    margin-top: 20px;
    margin-bottom: 40px;
}

h1 {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 60px;
}

h2 {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
}

#title h1 {
    font-family: "EB Garamond",'游明朝','Yu Mincho',YuMincho,"Noto Serif JP";
    text-align: center;
    font-size: 30px;
}

#home h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.2em;
}

#overview h2 {
    font-size: 20px;
}

#detail h2 {
    font-size: 20px;
}

#concept h2 {
    font-size: 20px;
}

.name p {
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skill {
    text-align: center;
    margin-bottom: 40px;
}

.skill img {
    height: 50px;
    width: 50px;
}

.badge {
    text-align: center;
}

.badge a {
    color: black;
    text-decoration: none;
}

.badge img {
    width: 150px;
    height: 150px;
}

.work {
    text-align: center;
    padding: 10px 20px 0 0;
}

.work h3 {
    font-size: 16px;
}

.work p {
    font-size: 14px;
}

.work img {
    height: 250px;
    width: 250px;
}

.work a {
    color: black;
    text-decoration: none;
}

.more {
    padding-top: 10px;
    max-height: 22px;
    text-align: right;
}

.more span {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 14px;
    vertical-align: top;
}

.more img {
    height: 22px;
    width: 22px;
}

.more a {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

/* 作品ページのスタイルシート */

#banner {
    text-align: center;
}

#banner img {
    width: 100%;
    height: auto;
}

iframe.youtube {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.board {
    text-align: center;
}

.board img {
    width: 100%;
    height: auto;
}

.board2 {
    text-align: center;
}

.board2 img {
    border: solid 1px #a9a9a9;
    width: 100%;
    height: auto;
}

#concept p {
    font-size: 16px;
    text-align: center;
}

#overview a {
    color: black;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80%;
    height: auto;
}

.storyboard {
    text-align: center;
    width: 80%;
    height: auto;
    aspect-ratio: 5 / 7;
}

.report {
    text-align: center;
    width: 80%;
    height: auto;
    aspect-ratio: 5 / 7;
    margin-bottom: 20px;
}

.slide {
    text-align: center;
    width: 100%;
    height: auto;
    border: solid 1px #a9a9a9;
    margin-bottom: 20px;
}

.conceptpanel {
    text-align: center;
}

.conceptpanel img {
    width: 80%;
    height: auto;
}

/* ボタンの指定 */
button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    font-family: "EB Garamond";
    font-size: 18px;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
/* クラス付与時の指定 */
.is-active {
    opacity: 1;
    visibility: visible;
}