body {
    font-family: '游明朝','Yu Mincho',YuMincho,"Noto Serif JP";
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    font-family: "EB Garamond";
    font-weight: 400;
    background: #333;
    color: #fff;
    padding: 1ex 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    font-size: 20px;
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 70%;
    margin: 0 auto;
}

section {
    margin-top: 20px;
    margin-bottom: 40px;
}

h1 {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 60px;
}

h2 {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 40px;
}

h3 {
    font-weight: 400;
}

#title h1 {
    font-family: "EB Garamond",'游明朝','Yu Mincho',YuMincho,"Noto Serif JP";
    text-align: center;
    font-size: 50px;
}

#home h1 {
    font-size: 80px;
    text-align: center;
    letter-spacing: 0.2em;
}

#overview h2 {
    font-size: 30px;
}

#detail h2 {
    font-size: 30px;
}

#concept h2 {
    font-size: 30px;
}

.name p {
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skill {
    text-align: center;
}

.skill img {
    height: 80px;
    width: 80px;
}

.badge {
    text-align: center;
}

.badge a {
    color: black;
    text-decoration: none;
}

.badge img {
    width: 200px;
    height: 200px;
}

.work {
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.work img {
    height: 300px;
    width: 300px;
}

.work h3 {
    font-size: 20px;
}

.work a {
    color: black;
    text-decoration: none;
}

.more {
    padding-top: 10px;
    max-height: 25px;
    text-align: right;
}

.more span {
    font-family: "EB Garamond";
    font-weight: 400;
    font-size: 18px;
    vertical-align: top;
}

.more img {
    height: 25px;
    width: 25px;
}

.more a {
    color: black;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

/* 作品ページのスタイルシート */

#banner {
    text-align: center;
}

.poster img {
    width: auto;
    height: 700px;
}

.screenshot img {
    width: 70%;
    height: auto;
}

iframe.youtube {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.board {
    text-align: center;
}

.board img {
    width: 75%;
    height: auto;
}

.board2 {
    text-align: center;
}

.board2 img {
    border: solid 1px #a9a9a9;
    width: 75%;
    height: auto;
}

#concept p {
    font-size: 20px;
    text-align: center;
}

#overview a {
    color: black;
}

.logo {
    text-align: center;
}

.storyboard {
    text-align: center;
    width: 45%;
    min-width: 500px;
    height: auto;
    aspect-ratio: 5 / 7;
}

.report {
    text-align: center;
    width: 30%;
    min-width: 300px;
    height: auto;
    aspect-ratio: 5 / 7;
    margin-bottom: 20px;
}

.slide {
    text-align: center;
    width: 45%;
    min-width: 600px;
    height: auto;
    border: solid 1px #a9a9a9;
    margin-bottom: 20px;
}

.conceptpanel {
    text-align: center;
}

.conceptpanel img {
    width: auto;
    height: 700px;
}

.poster {
    width: auto;
    height: 700px;
}

/* ボタンの指定 */
button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    font-family: "EB Garamond";
    font-size: 18px;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
/* クラス付与時の指定 */
.is-active {
    opacity: 1;
    visibility: visible;
}